
/* GOOGLE MAP */

.google-maps {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 35%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .google-maps {
    position: relative;
    width: 100%;
    height: 500px;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
