
/* OUT STRENGTH LEFT IMAGE */

.img-text-btn-left-broken {
  margin-bottom: 160px;
  position: relative;
  padding: 10vw 0 0 0;

  > figure {
    width: 70%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: url(../images/dev.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  section {
    div {
      margin: 0 0 0 auto;
      width: 620px;
      padding: 50px 50px 50px 50px;
      position: relative;
      z-index: 2;
      background-color: #eeeeee;
      box-sizing: border-box;

      h5 {
        font-size: 1.5rem;
        margin-bottom: 20px;
      }
    }

    p.btn {
      text-align: right;
      margin-top: 40px;

      .button {
        background-color: #424242;
        border: 2px solid #424242;
        color: #fff;
        line-height: 60px;

        &:hover {
          background-color: #fff;
          border-color: #424242;
          color: #424242;
        }
      }
    }
  }
}

@media screen and (max-width: 999px) {
  .img-text-btn-left-broken {
    > figure {
      display: none;
    }

    section div {
      width: 100%;
      position: static;
      background: none;
      padding: 0;

      h5 {
        text-align: center;
      }

      figure {
        display: block;
        height: 300px;
        margin: 0 -5vw 10px -5vw;
        padding: 0 5vw;
        background: url(../images/dev.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }
    }
  }

  .img-text-btn-right-broken section div figure {
    display: block;
    height: 300px;
    margin: 0 -5vw 10px -5vw;
    padding: 0 5vw;
    background: url(../images/consult.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .img-text-btn-left-broken section p.btn {
    text-align: center;
  }
}


/* OUT STRENGTH RIGHT IMAGE */

.img-text-btn-right-broken {
  margin-bottom: 160px;
  position: relative;
  padding: 10vw 0 0 0;

  > figure {
    width: 70%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    background: url(../images/consult.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  section {
    div {
      margin: 0 auto 0 0;
      width: 620px;
      padding: 50px 50px 50px 50px;
      position: relative;
      z-index: 2;
      background-color: #eeeeee;
      box-sizing: border-box;

      h5 {
        font-size: 1.5rem;
        margin-bottom: 20px;
      }
    }

    p.btn {
      text-align: right;
      margin-top: 40px;

      .button {
        background-color: #424242;
        border: 2px solid #424242;
        color: #fff;
        line-height: 60px;

        &:hover {
          background-color: #fff;
          border-color: #424242;
          color: #424242;
        }
      }
    }
  }
}

@media screen and (max-width: 999px) {
  .img-text-btn-right-broken {
    > figure {
      display: none;
    }

    section {
      div {
        width: 100%;
        position: static;
        background: none;
        padding: 0;

        h5 {
          text-align: center;
        }

        figure {
          display: block;
          height: 300px;
          margin: 0 -5vw 10px -5vw;
          padding: 0 5vw;
          background: url(../images/consult.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
        }
      }

      p.btn {
        text-align: center;
      }
    }
  }
}